doctype html
html(lang="en")
  head
    title Your network &bull; Connection Problem Finder
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700")
    link(rel="stylesheet" type="text/css" href="/public/stylesheets/app.css")
  body
    div(id="header")
      h1 Connection Problem Finder
    div(id="content")
      div(id="intro")
        p What product isn't connecting to the Internet?
      div(id="devices" style="position:absolute; top:7.6em;")
    div(id="device_info" class="overlay")
      div(class="header")
        h1 Device name
        a(href="#" class="close_overlay") Close
      div(class="content")
        div(class="meta")
          img(id="device_symbol")
          h2(id="device_status") Checking for network problems
        div(class="feed" style="")
          div(id="test_internet_connection" class="test_bracket_container")
            div(class="status_icon pending")
            div(class="test_bracket_content")
              h2 NBN connection
              p(class="test") Trying to load the CHOICE website to check your Internet connection...
              p(class="result bad") Loading the CHOICE website didn't work. There may be a problem with your Internet connection.
              p(class="result good") Your Internet connection is working. A website can be loaded.
              div(class="advice")
                h3 How can I get help?
                p Your connection is provided by AusConnect.
                p Call them at 1800 123 456 to arrange a visit from an engineer.
                p Lines are open 24 hours. 
          div(id="test_router" class="test_bracket_container")
            div(class="status_icon pending")
            div(class="test_bracket_content")
              h2 Router
              p(class="test") Checking the quality of your Wi-Fi signal...
              p(class="result bad") Your router may not be working. It can't be connected to.
              p(class="result good") Your router is working. It can be connected to.
              div(class="advice")
                h3 How can I get help?
                p Your router was supplied with your Internet connection by AusConnect.
                p Call them at 1800 123 456 to arrange a visit from an engineer.
                p Lines are open 24 hours.
          div(id="test_device" class="test_bracket_container")
            div(class="status_icon pending")
            div(class="test_bracket_content")
              h2 #[span(id="test_device_name") test device name]
              p(class="test") Checking if this product can be found...
              p(class="result bad") Can't find this device.
              div(class="advice")
                h3 How can I get help?
                p This product was made by XXXX.
                p Call them at 1800 XXX XXXX to talk to their support.
                p Lines are open XXXXX.
